@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=MedievalSharp&family=Orbitron:wght@400..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --background-color: #0f0f0f;
    --secondary-background-color: #252323;
    --secondary-font-color: rgb(230, 142, 54);
    --third-font-color: rgb(222, 219, 213);
    --third-font-size: 1rem;
    --price-font-size: 1.3rem;
    --foodName-font-size: 1.4rem;
    --main-content-margin-top: 6rem;
    --main-content-margin-bottom: 6rem;
    --section-bottom-margin: 10rem;
    --headers-margin-bottom: 1.5rem;
    --foodBox-description-margin-top-bottom: 1rem 0;
    --foodBox-description-padding: 1.5rem;
    --main-section-width: 66vw;
    --section-header-font: 2rem;
    --box-radius: 0.6rem;

    --margin-topBottom-main-content-mobile: 2rem;
    --font-section: 1.8rem;
    --width-mobile: 85vw;
    --section-bottom-margin-mobile: 6rem;
    --foodName-font-size-mobile: 1.2rem;
    --price-font-size-mobile: 1.2rem;
}

body {
    background-color: var(--background-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

h1 {
    font-family: 'Javar', sans-serif;
    text-align: center;
    /* font-weight: 600; */
}

h1,
h2 {
    margin-bottom: var(--headers-margin-bottom);
}

h2 {
    font-size: var(--section-header-font);
    text-align: center;
}

h3 {
    margin-left: 2rem;
    color: white;
}

header {
    height: 5rem;
    background-color: var(--secondary-background-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--secondary-font-color);
    z-index: 10;
}

.header-logo {
    max-width: auto;
    max-height: 60px;
    margin-left: 1.5rem;
}

.header-logo:hover {
    cursor: pointer;
}

nav {
    display: flex;
    gap: 2rem;
    margin-right: 2rem;
}

.active-btn-colors {
    color: var(--secondary-font-color);
}

nav button {
    background: none;
    border: none;
    padding: 0;
    color: inherit;
    font: inherit;
    cursor: pointer;
}

nav button:hover {
    color: var(--secondary-font-color);
    filter: brightness(130%);
}

nav button {
    position: relative;
}

nav button::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--secondary-font-color);
    transition: width 0.2s ease;
}

nav button:hover::after {
    width: 100%;
}


/* Content */
#content {
    min-height: 100vh;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-1 {
    min-height: 90vh;
    margin-top: var(--main-content-margin-top);
    margin-bottom: var(--section-bottom-margin);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--main-section-width);
}

.section-1 h1 {
    font-size: 2.8rem;
    color: var(--secondary-font-color);
}

.section-1 h2 {
    font-size: 1.8rem;
}

.main-logo {
    width: 100%;
    border-radius: var(--box-radius);
}

.section-2 {
    /* background-color: rgb(76, 56, 30); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: var(--main-section-width);
    margin-bottom: var(--section-bottom-margin);
}



.sec2-boxes {
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    column-gap: 2rem;
}

.sec2-box {
    background-color: var(--secondary-background-color);
    min-height: 15rem;
    flex: 1;
    border-radius: var(--box-radius);
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.emoji {
    font-size: 2rem;
}

.theme {
    font-size: 1.3rem;
    color: var(--secondary-font-color);
    text-align: center;
}

.text {
    font-size: 1rem;
    text-align: center;
    line-height: 1.8;
    color: var(--third-font-color);
}

.section-3 {
    background-color: var(--secondary-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: var(--main-section-width);
    margin-bottom: var(--main-content-margin-bottom);
    padding: 1rem 2rem;
    line-height: 2;
}

.section-3 h2 {
    color: var(--secondary-font-color);
}

.section-3 p {
    color: var(--third-font-color);
    font-size: 1rem;
}


/* Menu */
.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: var(--main-content-margin-top);
}


.menu h2 {
    margin-bottom: var(--headers-margin-bottom);
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--main-section-width);
}

.food-container {
    width: var(--main-section-width);
    margin-bottom: var(--section-bottom-margin);
    min-height: 60vh;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.food-container-last {
    width: var(--main-section-width);
    margin-bottom: var(--main-content-margin-bottom);
    min-height: 60vh;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.food-box {
    flex: 0 0 calc(33.33% - 1rem);
    background-color: var(--secondary-background-color);
    border-radius: var(--box-radius);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease;

}

.food-box:hover {
    filter: brightness(110%);
    transform: translateY(-5px);
}

.starterImg {
    flex: 0 0 240px;
    overflow: hidden;
}

.starterImg img {
    width: 100%;
    height: 100%;
}

.starterDetails1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: var(--foodBox-description-padding);
}

.food-details-name {
    margin: 0;
    color: var(--secondary-font-color);
    font-size: var(--foodName-font-size);
}

.food-details-description {
    margin: var(--foodBox-description-margin-top-bottom);
    line-height: 1.7;
    color: var(--third-font-color);
}

.food-details-price {
    font-size: var(--price-font-size);
    font-weight: bold;
}




/* About */
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: var(--main-content-margin-top);
}

.about-section {
    background-color: var(--secondary-background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: var(--main-section-width);
    margin-bottom: 4rem;
    padding: 2.5rem 2.5rem;
    border-radius: var(--box-radius);
}

.about-section-last {
    background-color: var(--secondary-background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: var(--main-section-width);
    margin-bottom: 4rem;
    padding: 2.5rem 2.5rem;
    border-radius: var(--box-radius);
}

.about-section-header {
    color: var(--secondary-font-color);
}

.about-section-text {
    color: var(--third-font-color);
    line-height: 2;
    display: flex;
    text-align: center;
}



/* Media query */

@media only screen and (max-width: 600px) {

    header {
        height: 5rem;
    }

    .header-logo {
        max-width: auto;
        max-height: 50px;
        margin-left: 1rem;
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        font-size: 0.8rem;
        /* margin-right: 2rem ; */
    }

    h1 {
        text-align: center;
        font-size: 2rem;
    }

    h1,
    h2 {
        margin-bottom: var(--headers-margin-bottom);
    }

    h2 {
        font-size: var(--font-section);
        text-align: center;
    }



    .section-1 {
        min-height: 30vh;
        margin-top: var(--margin-topBottom-main-content-mobile);
        margin-bottom: var(--section-bottom-margin-mobile);
        display: flex;
        width: var(--width-mobile);
    }

    .section-1 h1 {
        font-size: 2rem;
    }

    .section-1 h2 {
        font-size: 1.4rem;
    }


    .section-2 {
        width: var(--width-mobile);
        margin-bottom: var(--section-bottom-margin-mobile);
    }



    .sec2-boxes {
        gap: 2rem;
        flex-wrap: wrap;
    }

    .sec2-box {
        flex: 0 0 100%;
        padding: 0.8rem 1rem;
    }

    .emoji {
        font-size: 1.8rem;
    }

    .theme {
        font-size: 1.2rem;
    }

    .text {
        font-size: 0.9rem;
    }


    .section-3 {
        width: var(--width-mobile);
        margin-bottom: var(--margin-topBottom-main-content-mobile);
        padding: 1rem 1rem;
        line-height: 1.8;
    }

    .section-3 p {
        color: var(--third-font-color);
        font-size: 0.9rem;
    }


    .menu {
        margin-top: var(--margin-topBottom-main-content-mobile);
    }

    .menu h2 {
        margin-bottom: var(--headers-margin-bottom);
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--width-mobile);
    }

    .food-container {
        width: var(--width-mobile);
        margin-bottom: var(--section-bottom-margin);
        min-height: 40vh;
        flex-direction: column;
    }

    .food-container-last {
        width: var(--width-mobile);
        margin-bottom: var(--margin-topBottom-main-content-mobile);
        min-height: 40vh;
    }

    .starterImg {
        flex: 0 0 200px;
    }

    .food-details-name {
        font-size: var(--foodName-font-size-mobile);
    }

    .food-details-description {
        margin: var(--foodBox-description-margin-top-bottom);
        line-height: 1.5;
        font-size: 0.9;
    }

    .food-details-price {
        font-size: var(--price-font-size-mobile);
        font-weight: bold;
    }


    .food-container-last {
        width: var(--width-mobile);
        margin-bottom: var(--margin-topBottom-main-content-mobile);
        flex-direction: column;
    }



    .about {
        margin-top: var(--margin-topBottom-main-content-mobile);
    }

    .about-section {
        width: var(--width-mobile);
        padding: 2rem 2rem;
        margin-bottom: 4rem;
    }

    .about-section-last {
        width: var(--width-mobile);
        padding: 2rem 2rem;
        margin-bottom: 4rem;
    }

    .about-section-text {
        line-height: 1.8;
        font-size: 0.9rem;
    }
}
